header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url("/assets/headpic.png");
    background-repeat: no-repeat;
    background-size:cover;
}
#title{
    position: absolute;
    left: 3em;
    bottom: 3em;
    background-color: rgba(0,0,0,0.4);
    padding: 1em 2em;
    color: white;
}
#title>h1{
    font-size: 3em;
    font-weight: normal;
}
#title>h2{
    font-size: 1.5em;
    font-weight: normal;
}
#title>hr{
    border: solid 1px white;
}