header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url("http://photogz.photo.store.qq.com/psc?/V14MANaD41Lr6Z/TmEUgtj9EK6.7V8ajmQrEPc7VO6nuh8ytWoelIFcp82NBCoI7QRaz74PT*ehTy58NjnjNyeBW*sPrKf6hldXoQJcZ5yjmP0RoObxIjlvcHU!/b&bo=oAU4BAAAAAADZ9s!&rf=viewer_4&t=5");
    background-repeat: no-repeat;
    background-size:cover;
}
#title{
    position: absolute;
    left: 3em;
    bottom: 3em;
    background-color: rgba(0,0,0,0.4);
    padding: 1em 2em;
    color: white;
}
#title>h1{
    font-size: 3em;
    font-weight: normal;
}
#title>h2{
    font-size: 1.5em;
    font-weight: normal;
}
#title>hr{
    border: solid 1px white;
}