---
layout:  mainpage
title: 首页
---

<div  class="lblock">
    <p>下面是一些我最新的文章</p>
    <p>在这里查看更多：<a href="/archives/">所有文章</a></p>
</div>
{% for post in site.posts limit:5 %}
    {% if page.title != post.title %}
    {% assign link = site.baseurl | append: post.url %}
    <article class="lblock">
        <a class="morelink" href="{{link}}" >更多</a>
        <h1><a href="{{ link }}">{{ post.title }}</a></h1>
        <hr/>
        <div class="cntnt">{{ post.content | truncate:200,'……' }}</div>
    </article>
    {% endif %}
{% endfor %}
