<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8"/>
			<link href="{{site.url}}/css/style.css" type="text/css" rel="stylesheet" />
			<link rel="icon" href="{{site.url}}/favicon.ico" mce_href="/dir/favicon.ico" type="image/x-icon" />
		</head>
		<body>
			<div class="wrapper">
			{% include header.html %}
				<nav>
					<ul>
						{% for item in site.nav %}
        				<li><a href="{{ site.url | append: item.url }}">{{ item.text }}</a></li>
        				{% endfor %}
					</ul>
				</nav>
				<article>
					{{ content }}
				</article>
				{% include aside.html %}
				{% include footer.html %}
			</div>
		</body>
	</html>
