<!DOCTYPE html>
<html>

<head>
	{% include basis.html %}
	<link href="{{site.baseurl}}/css/default.css" type="text/css" rel="stylesheet" />
	<link href="{{site.baseurl}}/css/codestyle.css" type="text/css" rel="stylesheet" />
	<link href="{{site.baseurl}}/css/post.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div id="wrapper">
		{% include header.html %}
		{% include nav.html %}
		<div id="center">
			<div id="cleft">
				<article>
					<div id="titl">{{ page.title }}</div>
					{{ content }}
					<span class="date">{{ page.date | date: "— %Y年%m月%d日" }}</span>
					<!--<span class="tags">Tag: 
								{% for tg in page.tags %}
									{{ tg }}						
								{% endfor %}
							</span>-->
				</article>
			</div>
			<div id="cright">
				{% include aside.html %}
			</div>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>